:root {
    /* 32. Production Portugal from https://graphicmama.com/blog/website-color-schemes/ */
    --red: #e9322e;
    --grey1: #959794;
    --grey2: #45433e;
    --grey3: #19171a;
}

.material-shadow {
    /* box-shadows courtesy of https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body,
button {
    font-family: "Open Sans", sans-serif;
}

h1,
.loading {
    font-family: "Share Tech", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: lightseagreen;
    height: 60px;
}

body {
    background-color: white;
    margin: 0;
    color: var(--grey3);
}

h1 {
    margin: auto;
    padding-left: 16px;
    text-align: left;
    color: white;
    flex-grow: 1;
    font-size: 28px;
}

h2 {
    margin: 0;
}

.card {
    margin: 3px auto;
    padding: 12px 14px;
    border-radius: 10px;
    width: 90%;
    background-color: white;
}

.card-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    line-height: 1.2;
}

.card-left {
    text-align: left;
    flex-grow: 1;
}
.card-right {
    text-align: center;
    width: 20%;
    flex-grow: 0;
}

.stop-description,
.stop-road {
    font-size: 20px;
}

.service-no,
.duration {
    font-size: 64px;
    font-weight: bold;
}

.mins {
    font-size: 20px;
}

.card-bottom {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: 0.5s ease;
    text-align: center;
    overflow: hidden;
    font-size: 32px;
}

#card-stack {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    row-gap: 0;

    margin: auto;
    max-width: 500px;
}

form#add-new {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
    border: 1px dashed lightgrey;
    box-shadow: none;
    background-color: transparent;
    max-width: 450px;
    line-height: 2;
    color: var(--grey3);
}

form#add-new input {
    line-height: 1.4em;
    font-size: 20px;
    width: 100px;
}

.expanded-card {
    visibility: visible;
    opacity: 1;
    height: 150px;
    margin-top: 32px;
}

footer {
    margin: auto;
    text-align: center;
    display: block;
}

span.lang-hide {
    display: none;
}

#add {
    display: block;
    margin: 16px 0 auto auto;
}

.material-button-medium {
    background-color: white;
    border: 1.5px solid var(--grey3);
    color: var(--grey3);
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 20px;
}

button#kebab {
    background-color: transparent;
    color: white;
    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    border: none;
    margin-right: 4px;
}

div.kebab-menu {
    position: absolute;
    background: white;

    transition: all 0.5s ease;
    z-index: 10;
    border-radius: 10px;

    top: 10px;
    right: 10px;
    width: 250px;
    padding: 16px;
}

.kebab-hide {
    display: none;
}

.kebab-show {
    display: block;
}

.kebab-menu button {
    background-color: transparent;
    font-size: 24px;
    text-align: left;
    border: 1px solid var(--grey1);
    width: 100%;
    white-space: nowrap;
    padding: 20px 16px;
}

.kebab-menu-backdrop {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

.kebab-show-backdrop {
    opacity: 0.2;
    visibility: visible;
}

/* ==================================================================
    loading overlay styles 
================================================================== */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: LightSeaGreen;

    /* center the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    /* fonts */
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.loading > #loading-footer {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    font-size: 24px;
    font-weight: normal;
    margin: auto;
}

div.hidden {
    transition: top 0.4s ease-in, opacity 1s ease-in;
    top: -100%;
    opacity: 1;
    /* leaving opacity in in case I want to use that later */
}
